<div class="auth">
  <div class="form">
    <h3>Fire-B Chat</h3>
    <p>Register</p>
    <input type="text" placeholder="UserName" />
    <input type="text" placeholder="Email" />
    <input type="text" placeholder="Password" />
    <label htmlFor="avatar">Choose a profile picture:</label>
    <input placeholder="file" />
    <Button
      class="btn btn-warning button"
    >
      Register
    </Button>
    <div class="register">
      You have an account?
      <Button
        class="btn btn-link p-0 ms-1"
        routerLink="/login"
      >
        SignIn
      </Button>
    </div>
  </div>
</div>
